@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image-card {
  background-image: url("/bgmain.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
